<template name="bus133n">

      <div class="row">
      <div class="col">
          <button class="button button-block loginButtoniOS" id="changeDirectionN"><i class="icon ion-shuffle"></i></button>
      </div>

    </div>

      {{#if meslek}}

          <div class="row">
            <div class="col">
              <div class="item item-divider">
                  <h3 style="text-align:center;">Meslek Yüksekokulu Kalkış</h3>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="col">
                  <img src="/bus/133n-1.png" class="fittedImg">
              </div>
          </div>
      {{/if}}

      {{#if kartal}}

          <div class="row">
            <div class="col">
              <div class="item item-divider">
                  <h3 style="text-align:center;">Kartal Kalkış</h3>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="col">
                  <img src="/bus/133n-2.png" class="fittedImg">
              </div>
          </div>
      {{/if}}


</template>
