<template name="foodList">
	{{#if isAndroid}}
		<div class="bar bar-header bar-positive">
				<button class="button button-clear icon ion-navicon-round" data-ion-menu-toggle="left">
				</button>
				<div class="col-10"></div>
				<h1 class="title homeTitleAlign">Food List</h1>
				<div class="buttons buttons-right header-item"><span class="right-buttons"><button class="button button-fab button-balanced studentHeaderHome"><i class="icon ion-home"></i></button></span></div>

		</div>

    {{#ionView}}
        {{#ionContent}}
          Food List
        {{/ionContent}}
    {{/ionView}}

  {{else}}
		<div class="bar bar-header barHeaderColoriOS">
				<button class="button button-clear" data-ion-menu-toggle="left"><i class="sideMenuHamburgerColoriOS icon ion-navicon-round"></i>
				</button>
				<div class="col-10"></div>
				<h1 class="title homeTitleAlign">Food List</h1>

		</div>

    {{#ionView}}
        {{#ionContent}}
          <div class="foodListOpen centerTitleClass"><h5>Food</h5></div>
        {{/ionContent}}
    {{/ionView}}

  {{/if}}
</template>
