<template name="schoolNewNotifSendModal">
  {{#ionModal customTemplate=true class="contentModalBackgroundiOS"}}
  <div class="bar bar-header bar-stable">
      <h1 class="title">New Notification</h1>
      <button class="button button-icon button-clear" id="iOSModalClose"><i class="icon ion-ios-close-empty"></i></button>
  </div>

  {{#ionContent}}
    <label class="item item-input">
        <textarea rows="5" id="newMessage" placeholder="New Message"></textarea>
    </label>

    <button class="button" style="float:right; background-color:#6699cc; color:white;" id="newNotifSend">Send</button>
  {{/ionContent}}

  {{/ionModal}}

</template>
