<template name="consultantAddModal">
  {{#ionModal customTemplate=true backdropClickToClose="false" class="contentModalBackgroundiOS"}}
  <div class="bar bar-header bar-stable">
      <h1 class="title">{{typeControlAdd modalType}}</h1>
      <button class="button button-icon button-clear" id="iOSModalClose"><i class="icon ion-ios-close-empty"></i></button>
  </div>

  {{#ionContent class="generalView"}}
        {{#if addTypeProfessorControl modalType}}

        <div class="list card">
            <label class="item item-input">
                <input type="text" id="usernameProf" autocorrect="off" placeholder="Professor Username" tabindex="0">
            </label>
        </div>

        <div class="list card">
            <label class="item item-input">
                <input type="text" id="nameProf" autocorrect="off" placeholder="Professor Name" tabindex="0">
            </label>
        </div>

        <div class="list card">
            <label class="item item-input">
                <input type="password" id="passwordProf" autocorrect="off" placeholder="Password" tabindex="0">
            </label>
        </div>

        <div class="list card">
            <label class="item item-input">
                <input type="password" id="rPasswordProf" autocorrect="off" placeholder="Re-password" tabindex="0">
            </label>
        </div>

        <div class="col">
            <button class="button consModalAdd" id="addProfButton" style="float:right;"><h6 class="titleColor">Add Proffessor</h6></button>
        </div>

        {{/if}}

        {{#if addTypeConsultantControl modalType}}

            {{#if countControl professorCount}}

                <div class="item item-divider">
                    <h3 style="text-align:center;">Professors</h3>
                </div>
                {{#each professor}}
                <div class="item ink profAddConsSelect" id="{{_id}}">
                    {{professorName}}
                </div>
                {{/each}}

                <div class="item item-divider">
                    <h3 style="text-align:center;">Departments</h3>
                </div>

                {{#each department}}
                <div class="item ink depAddConsSelect" id="{{_id}}">
                    {{departmentName}}
                </div>
                {{/each}}

            <div class="col">
                <button class="button consModalAdd" id="addConsButton" style="float:right;"><h6 class="titleColor">Add Consultant</h6></button>
            </div>

            {{else}}
                <div class="centerClass">
                    DON'T HAVE ENOUGH PROFESSOR TO SELECT CONSULTANT
                </div>
            {{/if}}

        {{/if}}



        {{#if addTypeLectureControl modalType}}

        <div class="list card">
            <label class="item item-input">
                <input type="text" id="lectureName" autocorrect="off" placeholder="Lecture Name" tabindex="0">
            </label>
        </div>

        <div class="list card">
            <label class="item item-input">
                <input type="text" id="lectureCode" autocorrect="off" placeholder="Lecture Code" tabindex="0">
            </label>
        </div>

        <div class="list card">
            <label class="item item-input">
                <input type="tel" id="lectureCredit" autocorrect="off" placeholder="Lecture Credit" tabindex="0">
            </label>
        </div>

        <div class="col">
            <button class="button consModalAdd" id="addLecButton" style="float:right;"><h6 class="titleColor">Add Lecture</h6></button>
        </div>
        {{/if}}

        {{#if addTypeMatchControl modalType}}
        <div class="list">
            {{#if countControl lectureCount}}
                {{#if countControl professorCount}}
                    {{#if lectureAndProfGetted}}
                    <div class="item item-divider">
                        <h3 style="text-align:center;">Lectures</h3>
                    </div>
                    {{#each lectures}}

                      <div class="item ink lectureSelect" id="{{_id}}">
                          {{lectureName}}
                      </div>

                    {{/each}}

                    <div class="item item-divider">
                        <h3 style="text-align:center;">Professors</h3>
                    </div>
                    {{#each professor}}
                    <div class="item ink profSelect" id="{{_id}}">
                        {{professorName}}
                    </div>
                    {{/each}}

                    <div class="col">
                        <button class="button consModalAdd" id="matchLecButton" style="float:right;"><h6 class="titleColor">Add Lecture</h6></button>
                    </div>
                    {{else}}
                      {{#if isAndroid}}
                          <div class="spinnerClass">
                              {{> ionSpinner icon="android"}}
                          </div>
                      {{else}}
                          <div class="spinnerClass" >
                              {{> ionSpinner icon="ios"}}
                          </div>
                      {{/if}}
                    {{/if}}
                {{/if}}

            {{else}}
            <div class="centerClass">
                ALL LECTURES ARE GIVEN BY SOMEONE
            </div>
            {{/if}}

        </div>
        {{/if}}

        {{#if addTypeDepartmentControl modalType}}
        <div class="list card">
            <label class="item item-input">
                <input type="text" id="departmentName" autocorrect="off" placeholder="Department Name" tabindex="0">
            </label>
        </div>

        <div class="list card">
            <label class="item item-input">
                <input type="text" id="departmentDescription" autocorrect="off" placeholder="Department Description" tabindex="0">
            </label>
        </div>

        <div class="col">
            <button class="button consModalAdd" id="addDepartmentButton" style="float:right;"><h6 class="titleColor">Add Department</h6></button>
        </div>
        {{/if}}

        {{#if addTypeDepartmentHeadControl modalType}}

            {{#if countControl departmentCount}}
                {{#if countControl professorCount}}
                    <div class="item item-divider">
                        <h3 style="text-align:center;">Departments</h3>
                    </div>

                    {{#each department}}
                    <div class="item ink departmentSelect" id="{{_id}}">
                        {{departmentName}}
                    </div>
                    {{/each}}

                    <div class="item item-divider">
                        <h3 style="text-align:center;">Professors</h3>
                    </div>

                    {{#each professor}}
                    <div class="item ink depHeadSelect" id="{{_id}}">
                        {{professorName}}
                    </div>
                    {{/each}}


                    <div class="col">
                        <button class="button consModalAdd" id="addDepartmentHeadButton" style="float:right;"><h6 class="titleColor">Add Department</h6></button>
                    </div>
                {{/if}}

            {{/if}}

        {{/if}}
  {{/ionContent}}

  {{/ionModal}}
</template>
