<template name="professorLayout">
	{{#if isAndroid}}
		{{#ionBody}}
	      {{#ionSideMenuContainer side="left"}}<!-- Meteoric paketinden yararlanarak side menu olusturduk -->

	          {{#ionSideMenus}}<!-- Side Menunun icerigine baslangic -->

	              {{#ionSideMenu}}<!-- kullandigimiz side menunun icerigi -->  <!-- side menu kapatma data-ion-menu-close -->
	                  <div class="bar bar-header sideMenuBarColorAndroid">
	                      <h1 class="title titleColor">Menu</h1>
	                  </div>
										<div class="content has-header">
	                      <div class="Androidlist">
	                          <div class="item item-icon-left" id="homeButtonAndroid">
	                              <i class="icon ion-home sideMenuHomeIcon"></i> Home
	                          </div>
	                          <div class="item item-icon-left" id="classesButtonAndroid">
	                              <i class="icon ion-person"></i> Classes
	                          </div>
                            <div class="item item-icon-left" id="busButtonAndroid">
	                              <i class="icon ion-gear-a"></i> Bus Times
	                          </div>
	                          <div class="item item-icon-left" id="foodButtonAndroid">
	                              <i class="icon ion-gear-a"></i> Food
	                          </div>
														<div class="item item-icon-left" id="feedBackButtonAndroid">
	                              <i class="icon ion-gear-a"></i> Feed Back
	                          </div>
														<div class="item item-icon-left" id="settingsButtonAndroid">
	                              <i class="icon ion-gear-a"></i> Settings
	                          </div>
														<div class="item item-icon-left" id="logOutButtonAndroid">
	                              <i class="icon ion-gear-a"></i> Logout
	                          </div>
	                      </div>
	                  </div>
	            {{/ionSideMenu}}<!-- side menu bitisi -->

	          {{/ionSideMenus}}<!-- side menu kapanis -->

	          {{#ionSideMenuContent}}<!-- side menu kullanildigini belirtmek -->

	              {{>ionNavBar class="signupHeader"}}<!-- sayfanin bari -->

	              {{#ionNavView}}<!-- sayfa icerigi -->
	                  {{>yield}}
	              {{/ionNavView}}

	          {{/ionSideMenuContent}}<!-- side menu kullanildigi kapanis -->

	      {{/ionSideMenuContainer}}<!-- side menu komple kapanis -->

	  {{/ionBody}}
	{{else}}
	{{#ionBody}}
			{{#ionSideMenuContainer side="left"}}<!-- Meteoric paketinden yararlanarak side menu olusturduk -->

					{{#ionSideMenus}}<!-- Side Menunun icerigine baslangic -->

							{{#ionSideMenu}}<!-- kullandigimiz side menunun icerigi -->  <!-- side menu kapatma data-ion-menu-close -->
									<div class="bar bar-header sideMenuBarColoriOS">
											<h1 class="title titleColor">Menu</h1>
									</div>
									<div class="content has-header">
											<div class="Androidlist">
												<div class="item item-icon-left" id="homeButtoniOS">
														<i class="icon ion-ios-home"></i> Home
												</div>
												<div class="item item-icon-left" id="classesButtoniOS">
														<i class="icon ion-person sideMenuProfileIcon"></i> Classes
												</div>
                        <div class="item item-icon-left" id="busButtoniOS">
														<i class="icon ion-ios-clock-outline"></i> Bus Times
												</div>
												<div class="item item-icon-left" id="foodButtoniOS">
														<i class="icon ion-pizza"></i> Food
												</div>
												<!-- <div class="item item-icon-left" id="feedBackButtoniOS">
														<i class="icon ion-paper-airplane"></i> Feed Back
												</div>
												<div class="item item-icon-left" id="settingsButtoniOS">
														<i class="icon ion-ios-cog"></i> Settings
												</div> -->
												<div class="item item-icon-left" id="logOutButtoniOS">
														<i class="icon ion-ios-minus"></i> Logout
												</div>
											</div>
									</div>
						{{/ionSideMenu}}<!-- side menu bitisi -->

					{{/ionSideMenus}}<!-- side menu kapanis -->

					{{#ionSideMenuContent}}<!-- side menu kullanildigini belirtmek -->

							{{>ionNavBar class="signupHeader"}}<!-- sayfanin bari -->

							{{#ionNavView}}<!-- sayfa icerigi -->
									{{>yield}}
							{{/ionNavView}}

					{{/ionSideMenuContent}}<!-- side menu kullanildigi kapanis -->

			{{/ionSideMenuContainer}}<!-- side menu komple kapanis -->

	{{/ionBody}}
{{/if}}
</template>
