<template name="professorSendNotificationsModal">
    {{#ionModal customTemplate=true class="contentModalBackgroundiOS"}}

        <div class="bar bar-header bar-stable">
            {{#with lecture}}
            <h1 class="title">{{lectureName}}</h1>
            {{/with}}
            <button class="button button-icon button-clear" id="iOSModalClose"><i class="icon ion-ios-close-empty"></i></button>
        </div>
        {{#if idsGetted}}

            {{#ionContent class="has-header"}}
              <div class="list">
                <div class="item item-divider">
                    <h3 class="title" style="text-align:center;">New Message</h3>
                </div>

                <label class="item item-input">
                      <textarea rows="5" id="newMessage" placeholder="New Message"></textarea>
                  </label>

                  <button class="button" style="float:right; background-color:#6699cc; color:white;" id="newNotifSend">Send</button>
              </div>
            {{/ionContent}}
        {{else}}
            {{#ionContent class="has-header"}}
                {{#if isAndroid}}
                    {{#if noneStudent}}
                        <div class="centerClass">
                            No one take this class
                        </div>
                    {{else}}
                        <div class="spinnerClass">
                            {{> ionSpinner icon="android"}}
                        </div>
                    {{/if}}
                {{else}}
                    {{#if noneStudent}}

                        <div class="centerClass">
                            No one take this class
                        </div>

                    {{else}}
                        <div class="spinnerClass" >
                            {{> ionSpinner icon="ios"}}
                        </div>
                    {{/if}}
                {{/if}}
            {{/ionContent}}
        {{/if}}


    {{/ionModal}}
</template>
