<template name="consultantNotificationsModal">

  	{{#ionModal customTemplate=true class="contentModalBackgroundiOS"}}

    {{#if notificationRoomTypeClassControl roomType}}
            {{#with lecture}}
            <div class="bar bar-header bar-stable">
                <h1 class="title">{{lectureName}}</h1>
                <button class="button button-icon button-clear" id="iOSModalClose"><i class="icon ion-ios-close-empty"></i></button>
            </div>
            {{/with}}

            {{#ionContent}}
                <h4 style="text-align:center;">Notifications</h4>
                <div class="row scrollableDiv">
                  <div class="col">
                    <div class="list">
                        {{#each notifications}}
                        <a class="item ink item-icon-right">
                            <h4 class="notificationClick" id="{{_id}}">{{notificationMessage}}</h4>
                                <i class="icon ion-ios-eye calm whoSeePopUpProf" id={{_id}}></i>
                                <div class="card-footer text-right">
                                    <h6>{{tm_now sendAt}}</h6>
                                </div>
                        </a>

                        {{/each}}
                    </div>
                  </div>

                </div>

            {{/ionContent}}
    {{/if}}

    {{#if notificationRoomTypeConsultantControl roomType}}
            {{#with studentInfo}}
            <div class="bar bar-header bar-stable">
                <h1 class="title">{{name}}</h1>
                <button class="button button-icon button-clear" id="iOSModalClose"><i class="icon ion-ios-close-empty"></i></button>
            </div>
            {{/with}}

            {{#ionContent}}
                <h4 style="text-align:center;">Notifications</h4>
                <div class="row scrollableDiv">
                  <div class="col">
                    <div class="list">
                        {{#each notifications}}
                        <a class="item ink item-icon-right">
                            <h4 class="notificationClick" id="{{_id}}">{{notificationMessage}}</h4>
                                <i class="icon ion-ios-eye calm whoSeePopUpCons" id={{_id}}></i>
                                <div class="card-footer text-right">
                                    <h6>{{tm_now sendAt}}</h6>
                                </div>
                        </a>
                        {{/each}}
                    </div>
                  </div>

                </div>

            {{/ionContent}}
    {{/if}}

    {{#if notificationRoomTypeUniversityControl roomType}}
        <div class="bar bar-header bar-stable">
            <h1 class="title">University</h1>
            <button class="button button-icon button-clear" id="iOSModalClose"><i class="icon ion-ios-close-empty"></i></button>
        </div>

        {{#ionContent}}
            <h4 style="text-align:center;">Notifications</h4>
            <div class="row scrollableDiv">
              <div class="col">
                <div class="list">
                    {{#each notifications}}
                      <div class="item ink notificationClick" id="{{_id}}">
                          <h4>{{notificationMessage}}</h4>
                              <div class="card-footer text-right">
                                  <h6>{{tm_now sendAt}}</h6>
                              </div>
                      </div>
                    {{/each}}
                </div>
              </div>

            </div>

        {{/ionContent}}
    {{/if}}

    {{/ionModal}}

</template>
